.wrapper {
    margin: 25px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range:250px 500px;
    padding-bottom: 5px;

}

@keyframes fade-in {
    to {scale: 1; opacity: 1}
}