.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(228,210,249,1) 0%, rgba(192,178,247,1) 63%, rgba(176,160,249,1) 100%);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: .8;
    opacity: 0;
    width: 1200px;
    text-align: center;
    padding: 15px 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range:250px 500px;
}

.mainImg {

}

.span {
    color: #7574ff;
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
}

.box {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@keyframes fade-in {
    to {scale: 1; opacity: 1}
}