ul {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #b5b6b4;
    list-style-type: none;
    background-color: #1a241a;
}

li {
    border-bottom: 1px solid #565656;
    cursor: pointer;
    padding: 15px 25px;
    transition: 0.2s;
}

li:hover {
    color: white;
    background-color: #7574ff;
}