.input {
    min-width: 300px;
    padding: 5px 15px;
    border-radius: 16px;
    border: 1px solid #3e3e3e;
    outline: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #3e3e3e;
}