.sliderWrapper {
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #c8c8c8;
}

.slider {
    object-fit: cover;
    width: 300px;
    height: 600px;
    position: relative;
    display: block;
    padding-bottom: 1px;
    border: 1px solid #3e3e3e;
}

.slider img {
    width: 300px;
    height: 600px;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 0.2s ease-in-out;
}

.images {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.btns {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

.btnLeft {
    background: none;
    border: none;
    top: 100px;
    left: 15px;
    z-index: 2;
}

.btnRight {
    background: none;
    height: 100%;
    border: none;
    top: 100px;
    right: 15px;
    z-index: 2;
}

.svgRight {
    cursor: pointer;
    rotate: 180deg;
    transition: 0.2s;
    margin-right: 15px;
}

.svgLeft {
    margin-left: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.svgLeft:hover {
    fill: #211e79;
}

.svgRight:hover {
    fill: #211e79;
}

.link {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
}

.linkText {
    cursor: pointer;
    text-decoration: none;
    color: #211e79;
    position: relative;
    transition: 0.2s;
    padding-bottom: 1px;
}

.linkText::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #7574ff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in;
}

.linkText:hover{
    color: #7574ff;
}

.linkText:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}